*::before,
*::after,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//CORES
$cor-branca: #fff;
$cor-secundaria: #538167;
$cor-terciaria: #333;
$cor-contato-borda: rgb(92, 90, 90);

$cor-menu-navegacao: #474747;

//MEDIDAS

$altura-header-contatos: 3.5rem; 
$largura-header: 118rem;
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: Oswald;
    color: $cor-branca;
    
}
.container-flex{
    display: flex;
    flex-flow: column;
}

.header{
    background-color: $cor-terciaria;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid $cor-contato-borda;
    border-bottom: 0.5px solid $cor-contato-borda; 
}
.contatos{
    display: flex;
    width: 100%;
    max-width:$largura-header;
    margin: 0 auto;
    justify-content: space-between;

    &__endereco{
        display: flex;
        font-size: 1.5rem;
        align-items: center;

        &-lista{
            display: flex;
            list-style: none;
            align-items: center;
            
            & li{
                height: $altura-header-contatos;
                display: flex;
                line-height: $altura-header-contatos;
                
                
                &:not(:first-of-type){
                    padding-left: 2rem;
                }
                &:not(:last-of-type){
                    border-right: 0.1px solid $cor-contato-borda;
                    padding-right: 5rem;
                }

                & i{
                    font-size: 1.6rem;
                    line-height: $altura-header-contatos;
                    margin-right: 5px;
                    
                }
            }    
        }
    }

    &__midias{
        display: flex;

        &-lista{
            display: flex;
            list-style: none;
            & li{
                border-left: 0.5px solid $cor-contato-borda;
                &:last-of-type{
                    border-right: 0.5px solid $cor-contato-borda;
                } 
                
                & i{
                    font-size: 1.5rem;
                    padding: 0 10px;
                    line-height: $altura-header-contatos; 
                }
            }
        }
    }
}

.navegacao{
    background-color: rgba($cor-menu-navegacao, 0.8);
    height: 9rem;
    display: flex;
    width: 100%;
    
    &__area{
        width: 100%;
        max-width: $largura-header;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    &__logo{
        width: 175px;
        height: 47px;
        margin-right: 8rem;
    }
    &__menu{
        display: flex;
        list-style: none;
        align-items: center;
        font-size: 1.6rem;
        text-transform: uppercase;
        flex: 2;
        height: 9rem;
        & li{
            padding: 3rem 1.5rem;
            cursor: pointer;
            transition: color 250ms ease-in-out;
            
            &:first-child{padding-left: 0;}

            &:hover{
                color: $cor-secundaria;
            }
        }
    }
    &__botao{
        background-color: $cor-secundaria;
        border: none 0;
        border-radius: 2px;
        color: $cor-branca;
        padding: 1rem 1rem;
        text-transform: uppercase;
        transition: background, color 250ms ease-in-out;
        font-size: 1.2rem;
        &:hover{
            background-color: $cor-branca;
            color: #333;
        }
    }
}
